* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .bg-gradient-to-b {
    background-image: linear-gradient(to bottom, rgb(237, 233, 254), white);
  }
  